{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Channel</title>
    <link href="{% static 'css/clock.css' %}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="{% static 'js/clock.js' %}"></script>
</head>
<body onLoad="initClock()">
    <h1>Hi!</h1>
    <h1 id="app" style="color: aliceblue">{{ text }}</h1>



  <div id="timedate">
    <a id="mon">January</a>
    <a id="d">1</a>,
    <a id="y">0</a><br />
    <a id="h">12</a> :
    <a id="m">00</a>:
    <a id="s">00</a>:
    <a id="mi">000</a>
  </div>

    <script>

        {#var socket = new WebSocket('ws://localhost:8000/ws/some_url/');#}
        var socket = new WebSocket(
            'ws://' +
            window.location.host +
            {#window.location.port +#}
            '/ws/some_url/'
        );

        socket.onmessage = function (event){
            var data = JSON.parse(event.data);
            console.log(data);
            document.querySelector('#app').innerText = data.message.message;
        }

    </script>

</body>
</html>